.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: yellow;
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;

    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;
}


.active {
    background-color: blue;
    transform: rotate(45deg) scale(1.2);
  }